.dart_tool/*
.idea/*
build/*
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.packages
flutter_wan_android.iml

#ios
ios/Pods/*
ios/.symlinks/*
ios/Podfile.lock

#android
android/.idea/*
android/.gradle/*
